:root {
  /* 整体元素的圆角弧度 */
  --gz-element-round-radian1: 8px;

  /* 搜索框圆角弧度 */
  --gz-element-round-radian2: 5px;

  /* 主页底部控件高度 */
  --gz-element-footer-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}